<h1>List a new space</h1>

<form action='/listings' method='post'>
  <label for='title'>
    Title: <input name='title' type='text'>
    </label>
    <label for='description'>
      Description: <input name='description' type='text'>
    </label>
    <label for='price'>
      Price: £<input name='price' type='number'>
    </label>
    <input type='submit' value='Submit'>
    </form>