<!DOCTYPE html>
<html>
<head>
  <title> Search Results </title>
</head>
<body>
  <h1>  Search Results  </h1>
  <% if @listings.length > 0 %>
    <ul id='listings'>
    <% @listings.each do |listing| %>
      <li>
        Title: <a href="<%= "/listings/" + listing.id.to_s %>" ><%= listing.title %></a>
        <br>
        Description <%= listing.description %>
        <br>
        Price <%= listing.price %>
        <br>
      </li>
    <% end %>
    </ul>
  <% end %>

  <form action='/'>
    <input type='submit' value='Home'>
  </form>

</body>
</html>