<!DOCTYPE html>
<html>
<head>
  <title> Search Results </title>
</head>
<body>
  <h1>  Search Results  </h1>
<ul id='listings'>
  Title: <%= @listing.title%>
  <br>



<!--  <ul id='listings'>
          Title: <%= @listing.title %>
          <br>
          Description: <%= @listing.description %>
          <br>
          Price: £<%= @listing.price %>
          <br> -->
</body>
</html>