<h1> Search for a space </h1>

<form action='/listing/results' method='post'>
  <label for 'check_in_date'>
  Check in date: <input type='text' name='check_in_date'>
  </label>
  <label for 'check_out_date'>
  Check out date: <input type='text' name='check_out_date'>
  </label>
  <input type='submit' value='Search'>
  </form>