<h1> Search for a space </h1>

<form action='/listings/results' method='post'>
  <label for 'check_in_date'>
  Check in date: <input name='check_in_date' type='text'>
  </label>
  <label for 'check_out_date'>
  Check out date: <input name='check_out_date' type='text'>
  </label>
  <input type='submit' value='Search'>
  </form>