<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    You have successfully booked 
    <form action="/listings" method="get">
      <input type="submit" name="submit" value="Submit">
    </form>
  </body>
</html>
