<html>
	<head>

	</head>



	<body>
		
		<% unless current_user %>
			<form action='/users/new'>
				<input type='submit' value='sign up'>
			</form>
			<form action='/session/new'>
				<input type='submit' value='sign in'>
			</form>
		<% end %>
	</body>











</html>