<html>
	<head>
		<link rel="stylesheet" href="main.css">
	</head>



	<body bgcolor="#FF0000">
		<% if flash[:errors] %>
			<% flash[:errors].each do |error| %>
				<%= error %>
			<% end %>
		<% end %>
		
<div class="video-container">
	<div class="video-keeper">
		<video control autoplay loop>
			<source src="index_video.mp4" type="video/mp4">
			</video>
		</div>
</div>
		<div class=container2>
			<div class="container">
	        <div class="row">
	            <div class="col-lg-3 col-md-6 text-center">
	                <div class="service-box">
										<img src="cog.png" alt="..." width='200' height='220' >
	                    <h3 class=index_text>About Us</h3>

	                </div>
	            </div>
	            <div class="col-lg-3 col-md-6 text-center">
	                <div class="service-box">
										<img src="clock.png" alt="..." width='200' height='220'>
	                    <h3 class=index_text>Our Values</h3>
	                </div>
	            </div>
	            <div class="col-lg-3 col-md-6 text-center">
	                <div class="service-box">
										<img src="lightbulb.png" alt="..." width='200' height='220' >
	                    <h3 class=index_text>Inspiring Innovation</h3>

	                </div>
	            </div>
	            <div class="col-lg-3 col-md-6 text-center">
	                <div class="service-box">
										<img src="navigation.png" alt="..." width='200' height='220' >
	                    <h3 class=index_text>Meet The Team</h3>
	                </div>
	            </div>
	        </div>
	    </div>
		</div>



	</body>









</html>
