<html>
	<head>
		<link rel="stylesheet" href="main.css">
	</head>



	<body bgcolor="#FF0000">
		<% if flash[:errors] %>
			<% flash[:errors].each do |error| %>
				<%= error %>
			<% end %>
		<% end %>

		<% unless current_user %>
			<form action='/users/new'>
				<input type='submit' value='sign up'>
			</form>
			<form action='/session/new'>
				<input type='submit' value='sign in'>
			</form>
		<% end %>




<div class="video-container">
	<div class="video-keeper">
		<video control autoplay loop>
			<source src="index_video.mp4" type="video/mp4">
			</video>
		</div>
</div>
<div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
											<img src="cog.png" alt="..." width='200' height='220' >
                        <h3>About Us</h3>

                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
											<img src="clock.png" alt="..." width='200' height='220'>
                        <h3>Our Values</h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
											<img src="lightbulb.png" alt="..." width='200' height='220' >
                        <h3>Inspiring Innovation</h3>

                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
											<img src="navigation.png" alt="..." width='200' height='220' >
                        <h3>Meet The Team</h3>
                    </div>
                </div>
            </div>
        </div>



	</body>









</html>
