<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>View listing</title>
  </head>
  <body>
    <ul id='listings'>
      <% @listing.each do |listing| %>
        <li>
          Title: <%= listing.title %>
          Description: <%= listing.description %>
          Price: £<%= listing.price %>
          Availability: <%= listing.availability %>
        </li>
      <% end %>
    </ul>
  </body>
</html>
