<html>

<head>
</head>

<body>
	<form action='/users/new' method='post'>
		e-mail : <input type='text' name='email'><br>
		name : <input type='text' name='name'><br>
		username : <input type='text' name='username'><br>
		password : <input type='password' name='password'><br>
    confirm password : <input type='password' name='password_confirmation'><br>
		<input type='submit' value='Sign Up'>
	</form>
</body>

</html>